.navigation{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    color: #f5f5f5bf;
    text-decoration: none;
    border-bottom: 3px solid #171717;
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
    transition: opacity 0.4s ease, color 0.4s ease, border-bottom-color 0.4s ease;
}
.navigation:hover{
    /*color: #0c2f9d;*/
    border-bottom-color: #0c2f9d;
}
.navigation:active{
    opacity: 0.8;
}
.mark-header-tab-as-selected{
    /*color: #0c2f9d;*/
    border-bottom-color: #0c2f9d;
}
.navigation:visited{
}
.header-cover{
    display: flex;
    height: 8%;
    opacity: 1.0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #171717;
    text-align: center;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #171717;
    z-index: 10;
}
