body{
    background-color: #121212;
}
#timer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.05);
    padding: 10px 20px;
    color: #f5f5f5bf;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    border-radius: 20px;
    height: 100%;
    width: 30%;
}
.timer-block{
    user-select: none;
    position: fixed;
    width: 25%;
    height: 5%;
    top: 14%;
    left: 3%;
}
#start{
    display: inline-block;
    height: 100%;
    padding: 1% 2%;
    border-radius: 100%;
    background-color: orange;
    margin-left: 2%;
    transition: opacity 0.3s ease;
}
#start:hover{
    cursor: pointer;
}
#start:active{
    opacity: 0.8;
}
#pause-svg{
    margin-top: 5px;
}
#start-svg{
    margin-top: 3px;
    margin-bottom: 2px;
}