body{
    background-color: black;
}
#timer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.05);
    padding: 10px 20px;
    color: #f5f5f5bf;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    border-radius: 20px;
    height: 100%;
    width: 30%;
}
.timer-block{
    user-select: none;
    position: fixed;
    width: 25%;
    height: 5%;
    top: 14%;
    left: 3%;
    z-index: 50;
}
#start{
    display: inline-block;
    height: 100%;
    padding: 1% 2%;
    border-radius: 100%;
    background-color: orange;
    margin-left: 2%;
    transition: opacity 0.3s ease;
}
#start:hover{
    cursor: pointer;
    opacity: 0.8;
}
#start:active{
    opacity: 0.6;
}
#pause-svg{
    margin-top: 5px;
}
#start-svg{
    margin-top: 3px;
    margin-bottom: 2px;
}
.left-block{
    top: 25%;
}
#particles-js{
    background-color: black;
}
.input-wrap{
    text-align: right;
    padding: 3%;
}

#answer_wrapper{
    padding: 3%;
    padding-bottom: 1%;
}
#label{
    display: inline-block;
    font-size: 20px;
    color: #f5f5f5bf;
    margin-right: 10px;
}
#score{
    user-select: none;
    pointer-events: all;
    outline: none;
    border: none;
    padding-left: 5px;
    width: 6vh;
    height: 5vh;
    font-size: 20px;
    border-radius: 10px;
}

#submit-option{
    position: absolute;
    background-color: #121212;
    padding: 1% 2%;
    border-radius: 10px;
    z-index: 100;
    top: 13%;
    left:35%;
    color: #f5f5f5bf;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    transition: color 0.4s ease, background-color 0.4s ease;
}
#submit-option:hover{
    cursor: pointer;
    background-color: #f5f5f5bf;
    color: #000;
}
.smoke{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
}
#send_warning{
    text-align: center;
    position: fixed;
    border-radius: 20px;
    color: #f5f5f5bf;
    z-index: 202;
    background-color: black;
    width: 50%;
    height: 20%;
    top: 20%;
    left: 25%;
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
    padding-top: 2%;
}
#yes, #no{
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-top: 4%;
    padding: 2% 4%;
    border-radius: 20px;
    width: 20%;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}
#yes{
    background-color: #087c08;
}
#no{
    background-color: #af0505;
    margin-left: 3%;
}