table {
    position: relative;
    color: #f5f5f5bf;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
}
th, td {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
}
th{
    padding: 20px;
}
td{
    text-align: left;
}
th{
    text-align: center;
}
tr{
    background-color: rgba(255, 255, 255, 0.09);
    border-bottom: 1px solid #f5f5f5bf;
}
tr:last-child{
    border-bottom: none;
}

.border-bottom-none{
    border-bottom: none;
}

.table-wrapper{
    /*position: relative;*/
    background-color: #121212;
    /*border: 1px solid #f5f5f5bf;*/
    overflow: hidden;
    border-radius: 20px;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 3%;

}
tbody, thead, tr, td, th{
    user-select: none;
    width: 100%;
}
.wrapper{
    margin-top: 100px;
    text-align: center;
    position: absolute;
    width: 100%;
}
.section{
    border-top: 1px solid #f5f5f5bf;
    cursor: pointer;
    position: relative;
    transition: background-color 0.7s ease;
}
.section:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.display-none{
    display: none!important;
}

.arrow{
    transition: transform 0.3s ease;
    position: absolute;
    right: 4%;
    top: 35%;
    transform: rotate(-90deg);
}

#particles-js {
    background-color: #000000;
}

.header{
    background-color: rgba(255, 255, 255, 0.02) !important;
    border-bottom: 1px solid #f5f5f5bf !important;
}

.navigation-panel{
    position: fixed;
    top: 14%;
    left: 3%;
    height: 72%;
    padding: 20px;
    background-color: #121212!important;
    border: 3px solid #f5f5f5bf;
    border-radius: 20px;
    overflow-y: hidden;
}
.navigation-panel>.scroll-proxy>.navigation-button-wrapper>div{
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
    background-color: rgba(255, 255, 255, 0.06);
    cursor: pointer;
    color: #f5f5f5bf;
    padding: 10px 25px;
    border-radius: 10px;
    transition: background-color 0.6s ease, color 0.6s ease;
    margin-bottom:  13px;

}

.navigation-panel>.scroll-proxy>.navigation-button-wrapper>div:hover{
    background-color: rgba(255, 255, 255, 0.5)!important;
    color: #121212;
}
.navigation-panel>.scroll-proxy>.navigation-button-wrapper>div:active{
    opacity: 0.8;
}
.navigation-button-wrapper{
    background-color: #121212!important;
}

.scroll-proxy::-webkit-scrollbar {
    display: none;
}
.scroll-proxy{
    height: 100%;

    overflow-y: auto;
}

.scrolled-to-border{
    border-left: 2px solid #f5f5f5bf !important;
    border-right: 2px solid #f5f5f5bf !important;
    border-top: 2px solid #f5f5f5bf !important;
}
.header{
    transition: border-right-color 0.3s ease, border-left-color 0.3s ease, border-top-color 0.3s ease;
}
.link{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
    color: #f5f5f5bf;
    padding-top: 20px;
    padding-bottom: 20px;
}



.plus{
    padding: 15px;
    border-radius: 30%;
}
.cross{
    padding: 10px;
    padding-bottom: 6px;
    border-radius: 30%;
}
.edit{
    padding: 4px;
    border-radius: 30%;
    padding-bottom: 1px;
}
.plus{
    background-color: #119d11;
}
.cross, .cancel{
    background-color: #c00b0b;
}
.plus:hover{
    cursor: pointer;
}
.cancel:hover, .cross:hover, .edit:hover{
    opacity: 0.8;
    cursor: pointer;
}

.plus-wrapper, .cross, .edit{
    position: absolute;
}
.cancel{
    position: absolute;
    z-index: 101;
}
.plus-wrapper{
    bottom: 0;
    left: 80%;
    transition: opacity 0.2s ease, transform 0.4s ease, background-color 0.4s ease;
}
.plus-wrapper:active{
    opacity: 0.8;
}
.cross{
    right:10%;
    top: 10%;
}
.cancel{
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 30%;
    top:6%;
    right: 7%;
}

.edit{
    right:17%;
    top: 10%;
    background-color: orange;
}
.context{
    position: relative;
}
.display-none{
    display: none;
}
#new_section{
    border: 3px solid #f5f5f5bf;
    position: fixed;
    background-color: black;
    z-index: 101;
    border-radius: 10%;
    width: 30%;
    height: 60%;
    top: 15%;
    left: 35%;
    transition: border-color 0.4s ease;
    padding-bottom: 2%;
}
#delete_warning{
    text-align: center;
    position: fixed;
    border-radius: 20px;
    color: #f5f5f5bf;
    z-index: 101;
    background-color: black;
    width: 50%;
    height: 20%;
    top: 20%;
    left: 25%;
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
    padding-top: 2%;
}
#yes, #no{
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-top: 4%;
    padding: 2% 4%;
    border-radius: 20px;
    width: 20%;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}
#yes{
    background-color: #087c08;
}
#no{
    background-color: #af0505;
    margin-left: 3%;
}
#yes:hover, #no:hover{
    opacity: 0.8;
}
#yes:active, #no:active{
    background-color: rgba(255,255,255,0.03);
}
.rotate-90{
    transform: rotate(-90deg);
}
#add-resource-name, #add-resource-link{
    pointer-events: all;
    outline: none;
    border: 3px solid white;
    padding-left: 10px;
    width: 40vh;
    height: 6vh;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 15%;
    transition: border-color 0.5s ease;
}
.checkbox-wrapper{
    display: inline-block;
    margin-top: 10%;
    color: #f5f5f5bf;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
}
svg{
    transition: background-color 0.4s ease;
}
#submit-section, #edit-section{
    user-select: none;
    display: inline-block;
    pointer-events: all;
    color: #171717;
    font-size: 25px;
    padding: 11px 70px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    margin-top: 12%;
    transition: padding-left 1s ease, padding-right 1s ease
    , background-color 0.4s ease, opacity 0.1s ease, color 0.4s ease;
    background-color: #f5f5f5bf;
}
#submit-section:hover, #edit-section:hover{
    cursor: pointer;
}
#submit-section:hover{
    background-color: #07a207;
}
#edit-section:hover{
    background-color:orange;
}
#submit-section:active, #edit-section:active{
    opacity: 0.8;
}
#delete_warning>span{
    display: block;
    text-align: center;
}
#input-wrapper{
    text-align: center;
}
.plus-clicked{
    background-color: #0f34a6;
}
.blue-border{
    border-color: #0f34a6 !important;
}
.smoke{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.red-border{
    border: 3px solid red!important;
}

.read-mark{
    background-color: #006200;
}
.section>td{
    transition: opacity 0.3s ease, background-color 0.3s ease;
}
.section>td:hover{
    opacity: 0.8;
}