body{
    background-color: rgba(0, 0, 0, 0.92);
}

.canvas-header {
    text-align: center;
    border: 3px dashed #f5f5f5bf;
    border-radius: 30px;
    padding: 10px 0;
}
.canvas-panel{
    display: inline-block;
}

canvas{
    background-color: white;
    border-radius: 40px;
    margin-top: 10px;
    cursor:pointer;
}
.cursor-cross-hair{
    cursor: crosshair;
}

#pan, #clear, #rubber{
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
}

#pan, #clear, #rubber, #line{
    padding: 5px 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.92);
    border-radius: 5px;
    color: #f5f5f5bf;
    border: 3px solid #f5f5f5bf;
    margin-left: 10px;
}
#pan:hover, #clear:hover, #rubber:hover, #line:hover{
    cursor: pointer;
    opacity: 0.8;
}

.selected-border{
    border: 3px solid #07a207 !important;
    color: #07a207 !important;
}
#line{
    position: relative;
}

.description {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: display 0.5s ease;
}

#line:hover .description {
    display: block;
}

.task-container{
    margin-left: 20px;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid #f5f5f5bf;
    border-radius: 40px;
    margin-right: 70px;
    width: 550px;
}

.task, .answer{
    color: #f5f5f5bf;
}
.app{
    display: flex;
    margin-top: 80px;
}
.label{
    font-size: 18px;
    margin-left: 10px;
}

.placeholder{
    display: inline-block;
    height: 220px;
    width: 220px;
    border: 1px solid white;
}
.task-text{
    display: inline-block;
    padding: 10px;
}

input[type='text']{
    font-size: 18px;
    padding-left: 5px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
input[type='text']:focus{
    outline: none;
}