<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h2>Task Form</h2>

    <label for="task">Task:</label><br>
    <input type="text" id="task" name="task" required><br>

    <label for="answer">Answer:</label><br>
    <input type="text" id="answer" name="answer" required><br>

    <label for="img">Image URL:</label><br>
    <input type="text" id="img" name="img"><br>

    <label for="module">Module:</label><br>
    <input type="number" id="module" name="module" required><br><br>

    <button id="submit">Submit</button>

<script>

    document.getElementById('submit').addEventListener('click', function(event) {
        event.preventDefault();

        // Собираем данные из формы
        let taskData = {
            task: document.getElementById('task').value,
            answer: document.getElementById('answer').value,
            img: document.getElementById('img').value,
            module: parseInt(document.getElementById('module').value)
        };

        // Преобразуем данные в JSON формат
        let jsonData = JSON.stringify(taskData);

        // Отправляем данные методом POST на сервер
        fetch('/api/v1/task', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        }).then(function(response) {

            console.log('Response:', response);
        }).catch(function(error) {

            console.error('Error:', error);
        });
    });
</script>


</body>
</html>