<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/closed-source/header-styles.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/open-source/particles-styles.css}" />
    <link rel="stylesheet" href="/css/closed-source/all-tasks.css">
    <title>ЕГЭ-2024: задания, ответы, решения</title>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div id="particles-js"></div>

<script th:src="@{/javascript/open-source/particles-lib/particles.js}"></script>
<script th:src="@{/javascript/open-source/particles-lib/design-settings/calm_dark_design.js}"></script>
<script>
    document.getElementById("all-tasks-navigation-tab").classList.add("mark-header-tab-as-selected");
</script>
<div class="wrapper">
<div class="part">Первая часть - задания с коротким ответом</div>
    <span th:with="conditionMet=false">
    <span th:each="taskNum : ${#numbers.sequence(1, moduleCounter)}">

    <span th:if="${taskNum == firstModuleFromSecondPart}" class="part">
        Вторая часть - задания с развернутым ответом
    </span>
    <a class="task-container" th:href="@{/app/all-tasks/module/__${taskNum}__}">
        <span class="task-num" th:text="'Задание №' + ${taskNum}"></span>
        <hr>
        <span th:text="${module_name_map.get(taskNum)}"></span>
        <span class="counter">
            <span th:text="${done_map.get(taskNum)}"></span> / <span th:text="${map.get(taskNum)}"></span>
        </span>
    </a>
    </span>
    </span>
</div>

<div class="height-holder"></div>
</body>
</html>