<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Войдите в аккаунт</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/open-source/login-page-styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/open-source/particles-styles.css}" />
</head>
<body>
<div id="particles-js"></div>

<script th:src="@{/javascript/open-source/particles-lib/particles.js}"></script>
<script th:src="@{/javascript/open-source/particles-lib/design-settings/login_page_settings.js}"></script>

<div class="wrapper">
    <form action="/login" method="post">
        <div class="label">
            Войти
        </div>
        <input placeholder="Логин" type="text" id="username" name="username" required>

        <input placeholder="Пароль" type="password" id="password" name="password" required>
        <div>
            <button id="enter" class="enter" type="submit">Войти</button>
        </div>
    </form>
</div>
<div class="above-table-block">
    <div class="comment-block">
        <p th:if="${param.error}" class="comment-text">Упс... Похоже ты ввел неправильный логин или пароль.</p>
        <p th:if="${#strings.isEmpty(param.error)}" class="comment-text">Данные для входа учитель должен был прислать
            тебе в приветственном сообщении, напомни ему, если он этого не сделал.</p>
    </div>
</div>


<script>
    let enter = document.getElementById("enter");
    let interval;

    function animationFrame() {
        if (enter.classList.contains("extended")) {
            enter.classList.remove("extended");
        } else {
            enter.classList.add("extended");
        }
    }

    function startAnimation() {
        interval = setInterval(() => {
            animationFrame();
        }, 800);
    }

    enter.addEventListener("mouseover", () => {
        clearInterval(interval);
    })
    enter.addEventListener("mouseout", () => {
        animationFrame();
        startAnimation();
    });
    startAnimation();

</script>
</body>
</html>