<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" >
  <title>Онлайн школа - MATRIX</title>
  <link rel="stylesheet" href="/css/closed-source/header-styles.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/closed-source/management-styles.css}" />
  <script th:src="@{/javascript/closed-source/management_logic.js}" defer></script>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div id="create-user">
  <div class="wrapper">
    <input placeholder="Имя пользователя" id="user-name-create" type="text">
    <input placeholder="Фамилия пользователя" id="user-surname-create" type="text">
    <input placeholder="Номер телефона" id="user-phone-create" type="text">
    <input placeholder="Email пользователя" id="user-email-create" type="text">
    <input placeholder="Телеграм пользователя" id="user-tg-create" type="text">
    <input placeholder="Ссылка на личную доску miro" id="user-miro-board-create" type="text">
  </div>
</div>

<div id="delete-user">

</div>
</body>
</html>