<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header-styles.css">
    <link rel="stylesheet" href="/css/module-styles.css">
    <script src="/javascript/whiteboard.js"></script>
    <title th:text="'eazy-ege: Задание ' + ${module} + ' ЕГЭ'"></title>
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <div class="canvas-panel">
        <div class="canvas-header">
            <button id="clear">Очистить</button>
            <button id="rubber">Стиралка</button>
            <button id="pan">Ручка</button>
        </div>
        <canvas id="whiteboard" width="700" height="600">

        </canvas>

    </div>

</body>
</html>