<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/closed-source/header-styles.css">
    <link rel="stylesheet" href="/css/closed-source/module-styles.css">
    <script th:src="@{/javascript/closed-source/option_logic.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/closed-source/miro-integration-styles.css}"/>
    <script th:src="@{/javascript/closed-source/miro-integration.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/open-source/particles-styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/closed-source/option-styles.css}"/>
</head>

<body>
<div th:insert="~{header :: header}"></div>
<div class="timer-block">
    <div style="display: flex; align-items: center;">
        <div id="timer">
        </div>
        <div id="start">
            <svg id="pause-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28">
                <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
            </svg>
        </div>
    </div>
</div>

<div id="particles-js"></div>

<script th:src="@{/javascript/open-source/particles-lib/particles.js}"></script>
<script th:src="@{/javascript/open-source/particles-lib/design-settings/calm_dark_design.js}"></script>
<div class="app-wrapper">
    <div class="left-block">
        <div class="navigation-block-wrapper">
            <button id="scroll_left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31" width="31" height="31">
                    <path d="M 26 1 L 1 15 L 26 30 L 26 1" fill="#f5f5f5bf" stroke-width="0"/>
                </svg>
            </button>
            <div class="navigation-block">
                <div id="navigation_buttons_wrapper" class="navigation-buttons-wrapper">
                </div>
            </div>
            <button id="scroll_right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31" width="31" height="31">
                    <path d="M 5 1 L 30 15 L 5 30 L 5 1" fill="#f5f5f5bf" stroke-width="0"/>
                </svg>
            </button>
        </div>

        <div id="container" class="task-container">
            <div class="task">
                <div class="label">Задание №<span id="task-num"></span>:</div>
                <div id="task-text" class="task-text"></div>
                <div id="input-wrap" class="input-wrap display-none">
                    <input type="text" placeholder="Введите ответ" id="input-answer"/>
                </div>
                <div id="task-with-img" class="display-none" style="display: flex; margin-top: 10px">
                    <div class="placeholder"></div>
                </div>
            </div>
            <div id="answer_wrapper" class="answer-wrapper display-none">
                <button id="show_answer">Показать решение</button>
                <div id="answer" class="answer display-none">
                    <hr>
                    Ответ: <span id="_answer"></span>
                </div>
            </div>
            <div id="arrow_left" class="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 51" width="24" height="51">
                    <path d="M 15 10 L 01 30 L 15 50" fill="none" stroke="#f5f5f5bf" stroke-width="3"/>
                </svg>
            </div>
            <div id="arrow_right" class="arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 51" width="24" height="51">
                    <path d="M 10 10 L 25 30 L 10 50" fill="none" stroke="#f5f5f5bf" stroke-width="3"/>
                </svg>
            </div>
        </div>
    </div>
</div>
<!--uXjVNuEFRQU-->

<iframe src="https://miro.com/app/live-embed/uXjVNuEFRQU=/?autoplay=true&moveToViewport=-23165,-5837,13803,7546"
        frameBorder="0" scrolling="no" allowFullScreen>
</iframe>
<div id="stretch">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 51" width="24" height="51">
        <path d="M 15 10 L 01 30 L 15 50" fill="none" stroke="#f5f5f5bf" stroke-width="3"/>
    </svg>
</div>


</body>
</html>