<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header-styles.css">
    <link rel="stylesheet" href="/css/module-styles.css">
    <script src="/javascript/whiteboard.js" defer></script>
    <script src="/javascript/task_template_logic.js" defer></script>
    <title th:text="'eazy-ege: Задание ' + ${taskNum} + ' ЕГЭ'"></title>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<div class="app">

    <div class="left-block">
        <div id="container" class="task-container">
            <div class="task">
                <span class="label">Задание: </span>
                <div class="task-text" th:text="${task.getTask()}"></div>
                <div th:if="${task.getImg()!=null}" style="display: flex; margin-top: 10px">
                    <div class="placeholder"></div>
                    <div class="user-panel">
                        <div class="wrapper">
                            <input placeholder="Введите ответ:" type="text">
                            <button class="send">Отправить</button>
                        </div>
                    </div>
                </div>
                <div th:if="${task.getImg()==null}" class="wrapper-2">
                    <input placeholder="Введите ответ:" type="text">
                    <button class="send">Отправить</button>
                </div>
            </div>
            <div class="answer-wrapper">
                <button id="show_answer">Показать ответ</button>
                <div id="answer" class="answer display-none">
                    <hr>
                    <span th:text="'Ответ: '+ ${task.getAnswer()}"></span>
                </div>
            </div>
            <a id="arrow_left" th:if="${taskNum != 1}" class="arrow-left" th:attr="href=@{/app/all-tasks/module/{moduleNum}/task/{taskNum}(moduleNum=${moduleNum}, taskNum=${taskNum - 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 51" width="24" height="51">
                    <path d="M 15 10 L 01 30 L 15 50" fill="none" stroke="#f5f5f5bf" stroke-width="3"/>
                </svg>
            </a>
            <a id="arrow_right" th:if="${moduleCapacity != taskNum}" class="arrow-right" th:attr="href=@{/app/all-tasks/module/{moduleNum}/task/{taskNum}(moduleNum=${moduleNum}, taskNum=${taskNum + 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 51" width="24" height="51">
                    <path d="M 10 10 L 25 30 L 10 50" fill="none" stroke="#f5f5f5bf" stroke-width="3"/>
                </svg>
            </a>
        </div>
<!--        <div class="additional-div">-->
<!--            Рекламный блок-->
<!--        </div>-->
    </div>

    <div class="canvas-panel">
        <div class="canvas-header">

            <div id="pan" class="selected-border">
                Ручка
            </div>
            <div id="rubber">Стиралка</div>
            <div id="line">
                <div class="description">Нажмите по области два раза, точки соединятся линией</div>
                Линия
            </div>
            <div id="clear">
                Очистить
            </div>
            <div id="back">
                <div class="description">Или правая кнопка мыши</div>
                Отмена
            </div>
        </div>
        <canvas id="whiteboard" width="700" height="600">

        </canvas>
    </div>
</div>

</body>
</html>