<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header-styles.css">
    <link rel="stylesheet" href="/css/module-styles.css">
    <script src="/javascript/whiteboard.js"></script>
    <title th:text="'eazy-ege: Задание ' + ${taskNum} + ' ЕГЭ'"></title>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<div class="app">
    <!-- Новый блок div добавлен с классом left-block -->
    <div class="left-block">
        <div class="task-container">
            <div class="task">
                <span>Задание: </span>
                <span th:text="${task.getTask()}"></span>
            </div>
            <div class="answer">
                <span th:text="${task.getAnswer()}"></span>
            </div>
        </div>

        <!-- Ваш новый div -->
        <div class="additional-div">
            <!-- Ваш контент для нового блока -->
        </div>
    </div>

    <div class="canvas-panel">
        <div class="canvas-header">
            <div id="clear">
                Очистить
            </div>
            <div id="rubber">Стиралка</div>
            <div id="pan" class="selected-border">
                Ручка
            </div>
            <div id="line">
                <div class="description">Нажмите по области два раза, точки соединятся линией</div>
                Линия
            </div>
        </div>
        <canvas id="whiteboard" width="700" height="600">

        </canvas>
    </div>
</div>

</body>
</html>